<div class="container-fluid">
    <section class="row height-100 align-items-initial">
        <div class="offset-sm-2 col-sm-8 d-flex align-items-center">
            <div class="row flex-fill justify-content-center">
                <div class="py-4 col-12">
                    <h1 class="text-center display-4">Expired magic link</h1>
                    <p class="px-2 text-center lead px-md-0">Did you click on an expired magic link? Magic links expire within 15 minutes of being sent. Please try your transaction or login attempt again by browsing back to the&nbsp;<a href="/">homepage</a>.
                </div>
            </div>
        </div>
    </section>
</div>
